.container {
  display: flex;
  flex-direction: column;
}

p { 
  display: flex;
  justify-content: flex-start;
  color: rgb(233, 11, 11);
  font-size: 2.5em;
  margin-top: 5px;
  margin-left: 20px;
}

h3 {
  color: rgb(233, 11, 11);
  margin-top: 5px;  
}

.conteudo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 30px;
    padding: 15px;
    box-sizing: border-box;
  }
  
.bloco-imagem img {
    border-radius: 20px;
    height: 40vh;
    width: 100%;
    max-width: 100vw;
    object-fit: cover;
}

.bloco-add-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}

.bloco-arquivo {
  background-color: #eee;
  padding: 10px 20px;
  border-radius: 55px;
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.botao-arquivo {
  color: white;
  background-color: rgb(190, 45, 45);
  padding: 10px;
  border: 2px solid rgb(190, 45, 45);
  border-radius: 20px;
  transition: all ease 0.2s;
}

.botao-arquivo:hover{
  background-color: rgb(255, 255, 255);
  color: rgb(190, 45, 45);
}

.input-arquivo {
  display: none;
}

#imagem-arquivo {
  display: none;
}

#imagem-arquivo.visivel {
  display: inline-block;
}

.botao-enviar {
  color: white;
  border: 2px solid rgb(190, 45, 45);
  padding: 10px;
  border-radius: 25px;
  transition: all ease 0.2s;
  background-color: rgb(190, 45, 45);
}

.botao-enviar:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(190, 45, 45);
}